<!DOCTYPE html>
{% extends 'menu.html' %}
{% block content %}
{% load static %}


    <html>

    <head>

        <link rel="stylesheet" href="{% static 'css/edit.css' %}">
        <title> Edit student's data </title>

    </head>


    <br><br><br><br><br><br> <br>

    <body>
    <div class="container">
        <div class="title">Edit student info</div>
        <div class="content">
            <form action="editstudent" method="post" id="myform"> {% csrf_token %}
                <div class="user-details">
                    <div class="input-box">
                        <span class="details">ID</span>
                        <input type="text" placeholder="Enter student's ID" id="id" name="id">
                    </div>
                    <div class="input-box">
                        <span class="details">name</span>
                        <input type="text" placeholder="Enter student's name" id="name" name="name">
                    </div>
                    <div class="input-box">
                        <span class="details">Phone Number</span>
                        <input type="text" placeholder="Enter student's number" id="number" name="number">
                    </div>
                    <div class="input-box">
                        <span class="details">Email address</span>
                        <input type="text" placeholder="Enter student's Email" id="email" name="email">
                    </div>
                    <div class="input-box">
                        <span class="details">Address</span>
                        <input type="text" placeholder="Enter student's Address" id="address" name="address">
                    </div>
                    <div class="input-box">
                        <label>level</label>
                        <input type="number" placeholder="Enter student's level" id="level" name="lvl"/>
                    </div>
                    <div class="input-box">
                        <label>GPA</label>
                        <input type="text" placeholder="Enter student's GPA" id="gpa" name="gpa">
                    </div>
                    <div class="input-box" style="padding-top: 5px;">
                        <label for="Status">Status</label>
                        <select name="Status" id="Status" style="height: 45px; width: 100%; outline: none; font-size: 16px;
                          border-radius: 5px; padding-left: 15px; border: 1px solid #ccc; border-bottom-width: 2px;
                          border-color: #2339a8; transition: all 0.3s ease;">
                          <option value="Active">Active</option>
                          <option value="Inactive">Inactive</option>
                        </select>
                    </div>

                    <!-- -->
                </div>

                <div class="button">
                    <input type="submit" value="Edit" id="edit">
                </div>
            </form>
        </div>
    </div>
    </body>
    </main>
    <footer>
        &copy; all rights are reserved to FCAI-CU
    </footer>
    <script>
            const submitbtn2 = document.querySelector("#edit");
            const id = document.getElementById("id");
            let flag = 0;
            submitbtn2.addEventListener("click", function (event) {
                flag = 1;
                event.preventDefault();
                $(document).ready(function () {
                    $.ajax({
                        type: "GET",
                        url: "{% url 'getstudents' %}",
                        success: function (response) {
                            for (var key in response.Data) {
                                if (id.value == response.Data[key].student_id) {
                                    flag = 0;
                                    break;
                                }
                            }
                            if (flag == 1) {
                                alert("User ID does not exist");
                            } else {
                                const ID = document.getElementById("id");
                                const studentName = document.getElementById("name");
                                const phoneNumber = document.getElementById("number");
                                const email = document.getElementById("email");
                                const address = document.getElementById("address");
                                const level = document.getElementById("level");
                                const gpa = document.getElementById("gpa");
                                const button = document.getElementById("edit");
                                const isValidEmail = email => {
                                    const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                                    return re.test(String(email).toLowerCase());
                                }
                                const isValidPhoneNumber = phoneNumber => {
                                    const regex = /^(\+)?(\d{1,2})?(\s)?((\d{3})|(\(\d{3}\)))?(\s|-)?(\d{3})(\s|-)?(\d{4})$/;
                                    return regex.test(phoneNumber);
                                }

                                const hasOnlyDigits = str => {
                                    const regex = /^\d{8}$/;
                                    return regex.test(str);
                                }

                                function isValidName(name) {
                                    let nameRegex = /^[a-zA-Z]+(?: [a-zA-Z]+)+$/;
                                    return nameRegex.test(name);
                                }

                                let key;

                                if (ID.value === "" || email.value === "" || studentName.value === "" || phoneNumber.value === "" || address.value === "" || level.value === "") {
                                    alert('Data is not compelete');
                                    return false;
                                }
                                if (!hasOnlyDigits(ID.value) || ID.value.length < 5 || ID.value.length > 20) {
                                    alert('Enter a valid ID contains only numbers between 5 and 20 in length');
                                    return false;
                                }
                                if (!isValidEmail(email.value)) {
                                    alert('Enter a valid email');
                                    return fasle;
                                }
                                if (!isValidPhoneNumber(phoneNumber.value)) {
                                    alert('Enter a Valid phone number');
                                    return false;
                                }
                                if (!isValidName(studentName.value)) {
                                    alert('Enter a valid Name contains only characters separated by space');
                                    return false;
                                }
                                if (level.value < 1 || level.value > 4) {
                                    alert('Enter a valid level between 1 and 4');
                                    return false;
                                }
                                if (gpa.value<'1'||gpa.value>'4'||parseFloat(gpa.value) < 1 || parseFloat(gpa.value) >4) {
                                    alert('Enter a valid GPA number between 1 and 4');
                                    return false;
                                }
                                document.getElementById("myform").submit(); // Submit the form
                            }
                        },
                        error: function () {
                            alert("An Error Occurred");
                        }
                    });
                });
            });
    </script>


    </html>
{% endblock %}