body {
    margin: 0;
    padding: 0;


}

.bg {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    background-attachment: fixed;
    filter: brightness(50%);

    z-index: -1;
}

.img1 {
    height: auto;
    max-width: 12%;
    float: left;
}

.img2 {
    height: auto;
    max-width: 15%;
    float: right;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    width: 300px;
    margin-bottom: 20px;
}

input:focus {
    outline: none;
    box-shadow: 0px 0px 8px rgb(221, 2, 2);
}

#login-btn {
    background-color: #3d5dbc;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#login-btn:hover {
    background-color: #000000;
}

.announce {
    color: #f2f2f2;
}







.but {
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    position: absolute;
    bottom: 3%;
    right: 3%;
    color: #ffffff;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    touch-action: manipulation;
}

.but::after,
.but::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -10;
    transition: all .5s;
}

.but::before {
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #3f3f79;
    border-radius: 10px;
}

.but::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #ad1d1d15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
}

.but:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
}

.but:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
}

.but:active::after {
    transition: 0s;
    transform: translate(0, 5%);
}

footer {
    position: relative;
    width: 99%;
    height: 25px;
    display: flex;
    justify-content: center;
    color: azure;
  }