body {
    background: linear-gradient(-45deg, #fff, #fff, #848484, #0c0c0c);
    background-size: 400% 400%;
}

a {
    text-decoration: none;
    color: azure;
    font-size: 17px;
}

li {

    list-style: none;
}

a:hover {
    color: orange;
}

.nav {
    width: 90%;
    height: 20%;
    max-width: 1200%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav .logo a {
    font-size: 2rem;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 3rem;
}

.btn {
    color: azure;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 100px;
    height: 0px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu.op {
    height: 38%;
}

.menu li {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logout {
    background-color: #1e68e47a;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.logout:hover {
    scale: 1.05;
    color: #fff;
}

.logout:active {
    scale: 0.95;
}

.menu .logout {
    width: 100%;
    display: flex;
    justify-content: center;
}

.head {
    position: relative;
    top: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: azure;
}
.foot{
 position: relative;
    top: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: azure;

}

@media (max-width: 1050px) {

    ul,
    .nav .logout {
        display: none;
    }

    .nav .btn {
        display: block;
    }

    .menu {
        display: block;
    }

    .menu a {
        color: #000;
    }

    .menu a:hover {
        color: orange;
    }
}

